@font-face {
  font-family: swisstime;
  src: url("/src/assets/fonts/SwissTime/SwissTime-VAR-VF.woff2") format("woff2-variations");
  font-weight: 400;
}

@font-face {
  font-family: swisstime;
  src: url("/src/assets/fonts/SwissTime/SwissTime-Italic-VAR-VF.woff2") format("woff2-variations");
  font-style: italic;
  font-weight: 400;
}
